:root {
  --primary--color: #606c88;
  --secondary--color: #434c5f;
  --font--color: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font--color);
}

body {
  background: var(--primary--color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app {
  width: 100%;
}

/* Navigation */

nav {
  width: 100%;
  height: 10%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: relative;
}

nav h1 {
  font-size: 4rem;
}

nav input {
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 10rem;
  margin-right: 1rem;
  text-align: center;
  border: none;
  background-color: var(--primary--color);
  border: 1px solid var(--font--color);
  color: var(--font--color);
}

nav input::placeholder {
  color: var(--font--color);
}

nav input:last-of-type {
  margin-right: 5rem;
}

.navBtn {
  border-radius: 2rem;
  height: 50%;
  transform: translateY(50%);
  width: 10rem;
  right: 0%;
  top: 0%;
  position: absolute;
  cursor: pointer;
}

/* Container */

.container {
  margin: 5rem auto 0;
  width: 50%;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
}

.containerTransactions {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.transactions {
  width: 50%;
  border: 1px solid white;
  border-radius: 2rem;
  overflow-y: scroll;
  padding: 2.5rem 2rem;
}

.options {
  width: 47%;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transfer {
  height: 40%;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  justify-content: space-between;
  background-color: var(--secondary--color);
  border-radius: 2rem;
}

.transfer h2,
.loan h2 {
  margin-top: 2.5rem;
  font-size: 2.5rem;
}

.transferMoneyContainer {
  height: 70%;
  display: flex;
  justify-content: center;
}
.inputFields {
  display: flex;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  transform: translateY(50%);
}

.inputFields input {
  width: 90%;
  border-radius: 2rem;
  height: 50%;
  border: none;
  margin-bottom: 1rem;
  text-align: center;
}

.inputFields label {
  height: 50%;
}

.transferTo,
.transferAmount {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  align-items: center;
  font-size: 1.6rem;
}

.transferBtn {
  border-radius: 2rem;
  width: 10%;
  height: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.loan {
  background-color: var(--secondary--color);
  border-radius: 2rem;
  height: 40%;
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.loanOptions {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 4rem;
  height: 50%;
}
.loanInputFields {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  font-size: 1.6rem;
}

.loanInputFields input {
  width: 90%;
  border-radius: 2rem;
  height: 40%;
  border: none;
  margin-bottom: 1rem;
  text-align: center;
}

.loanBtn {
  border-radius: 2rem;
  width: 10%;
  height: 42%;
  cursor: pointer;
  margin-right: 1rem;
  transform: translateY(50%);
}
/* Movements */

.movementContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.indexType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.movement {
  width: 75%;
}

.movement-type-Deposit,
.movement-type-Withdrawal {
  margin-left: 1.5rem;
  border-radius: 2rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  text-align: center;
}

.movement-type-Deposit {
  background-color: #399e5a;
}

.movement-type-Withdrawal {
  background-color: #ff4a1c;
}

.movementValue {
  display: flex;
  align-items: center;
}

.accountInfo {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  /* border: 1px solid white; */
  justify-content: space-between;
  align-items: center;
}

.accountInfo p {
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
}

.inElements,
.outElements {
  display: flex;
  width: 33%;
  align-items: center;
}

.in {
  color: #399e5a;
}

.out {
  color: #ff4a1c;
}

.sort {
  border-radius: 1rem;
  padding: 0.6rem 1.2rem;
}
