:root {
  --primary--color: #606c88;
  --secondary--color: #c4e0f9;
  --font--color: #e6e6e6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font--color);
}

body {
  background: var(--primary--color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app {
  width: 100%;
  height: 100vh;
}

/* Navigation */

nav {
  width: 100%;
  /* border: 1px solid white; */
  height: 10%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: relative;
}
nav input {
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 10rem;
  margin-right: 1rem;
  text-align: center;
  border: none;
  background-color: var(--primary--color);
  border: 1px solid var(--font--color);
  color: var(--font--color);

}

nav input::placeholder{
    color: var(--font--color);
}

nav input:last-of-type {
  margin-right: 5rem;
}

.navBtn {
  border-radius: 2rem;
  height: 50%;
  transform: translateY(50%);
  width: 10rem;
  right: 0%;
  top: 0%;
  position: absolute;
  cursor: pointer;
}

/* Container */

.container {
    margin: 5rem auto 0;
    width: 50%;
}

.containerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}

.containerTransactions {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    border:1px solid white;

}

.transactions {
    width: 47%;
    height: 50rem;
    border:1px solid white;
    border-radius: 2rem;
}

.options {
    width: 47%;
    border-radius: 2rem;
    /* border:1px solid white; */
}

.transfer {
    border: 1px solid white;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.transferMoneyContainer{
    height: 70%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inputFields{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
}

.inputFields input {
    width: 100%;
    border-radius: 2rem;
    height: 50%;
    border: none;
    margin-bottom: 1rem;
}

.inputFields label {
    height: 50%;
}

.transferTo, .transferAmount{
    display: flex;
    border:1px solid white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}

.transferBtn {
    border-radius: 2rem;
    width: 10%;
    cursor: pointer;
    margin-right: 1rem;
}